@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.entrar{
    margin-top: 80px;
    margin-left: 40px;

    font-family: 'Open Sans', sans-serif;
    color: #03014C;
}